{% extends "plataforma/base.html" %}
{% block content %}

<div class="login-wrapper">

    <div class="card-modern login-card">
        <h3 class="text-center mb-4" style="color:var(--primary);font-weight:800;">
            Acceso Funcionarios
        </h3>

        <form method="POST">
            {% csrf_token %}

            <input class="input-modern mb-3" name="username" placeholder="Usuario" required>

            <input type="password" class="input-modern mb-4" name="password" placeholder="Contraseña" required>

            <button class="btn-primary-modern w-100" type="submit">Ingresar</button>
        </form>
    </div>

</div>
{% endblock %}
